.container {
  width: calc(100% - 30px);
  height: 60px;
  background-color: #0084ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  .infoContainer {
    @media (max-width: 425px) {
      display: none;
    }
  }
  .title {
    font-size: 25px;
  }
  div {
    color: #ffff;
  }
  .sideContainer {
    display: flex;
    .name {
      font-weight: bold;
    }
  }
  .button {
    border: none;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0075e4;
    padding: 11px;
  }
}
